* {
    box-sizing: border-box;
}

body {
    padding: 20px 30px;
    background-color: dimgray;
}

.navbar {
    font-size: 18pt;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    position: relative;
    padding: 0 10px;
}

.leftNavbar {
    float: left;
}

.leftNavbar li {
    pointer-events: none;

}

.rightNavbar {
    float: right;
}

.rightNavbar li {
    padding: 0 20px;
}

.rightNavbar li + li:before {
    display: block;
    content: "/";
    position: absolute;
    left: 0;
    pointer-events: none;
}

.navElement {
    all: unset;
}

.navElement:hover {
    cursor: pointer;
}

.pageTitle {
    font-size: 18pt;
    text-align: center;
}

.subTitle {
    color: darkgray;
}

.column {
    float: left;
    padding: 10px;
}

.projectsColumn, .educationColumn {
    width: 25%;
    text-align: match-parent;
}

.workColumn {
    width: 50%;
    text-align: center;
}

.row {
    list-style-type: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

