* {
    box-sizing: border-box;
}

body {
    /* padding: 20px 30px; */
    background-color: dimgray;
    margin: 20px 30px;
    padding-top: 10px;
    outline: 2px solid black;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
}

.navbar {
    font-size: 18pt;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    position: relative;
    padding: 0 10px;
}

.leftNavbar {
    float: left;
}

.leftNavbar li {
    pointer-events: none;

}

.rightNavbar {
    float: right;
}

.rightNavbar li {
    padding: 0 20px;
}

.rightNavbar li + li:before {
    display: block;
    content: "/";
    position: absolute;
    left: 0;
    pointer-events: none;
}

.navElement {
    all: unset;
}

.navElement:hover {
    cursor: pointer;
}

.pageTitle {
    font-size: 18pt;
    text-align: center;
}

.subTitle {
    color: darkgray;
}

.column {
    display: flex;
    float: left;
    padding: 10px;
    outline: 2px solid black;
}

.projectsColumn, .educationColumn {
    width: 25%;
    text-align: left;
}

.projectsColumn {
    width: 24.7%;
}

.educationColumn {
    margin-left: 2px;
}

.workColumn {
    width: 50%;
    text-align: left;
    outline: 2px solid black;
    margin-left: 2px;
}

.row {
    list-style-type: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.rowTitle {
    font-size: 20pt;
    font-weight: bold;
}

.rowItem {
    text-align: left;
    padding: 14px 0 14px 50px;
    margin-left: -50px;
    text-indent: 0;
    text-wrap: balance;
}

.rowItem a {
    text-decoration: none;
}

.blackLink {
    color: black;
}

.blueLink {
    color: mediumblue;
}

.row li:not(:nth-child(-n + 2)):not(:last-child) {
    border-bottom: 2px solid black;
    margin-right: -10px;
    padding-right: 60px;
}